@import "../config.scss";
#carouselSection {
    width: 100%;
    background-color: $orange;
    margin-top: 192px;
    height: 665px;
    padding-top: 70px;
    .carousel {
        margin-top: 60px;
        .carouselSlideInner {
            color: white;
            padding-top: 80px;
        }
        .swiper-slide-active {
            width: 600px !important;
        }
        .swiper-wrapper {
            display: flex;
            align-items: center;
        }
        .swiper-slide .carouselSlideInner h2 {     
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            color: white;
            opacity: 0.9;
            margin-bottom: 8px;
            text-align: center;
        }
        .swiper-slide-active .carouselSlideInner h2 {
            color: #1E1A20;
        }
        .swiper-slide .carouselSlideInner div {
            display: none;
        }
        .swiper-slide-active .carouselSlideInner div {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #1E1A20;
            width: 281px;
            display: inline-block;
        }
        .swiper-slide .carouselSlideInner {
            background-repeat: no-repeat;
            background-size: cover;
            height: 243px;
            width: 277px;
        }
        .swiper-slide-active .carouselSlideInner{
            width: 438px;
            height: 383px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-right: 70px !important;
        }
        .swiper-slide-active .carouselSlideInner {
            width: 430px;
            background-size: contain;
            background-position: center;
            color: black;
        }
        #carouselWater {
            background-image: url("../../imgs/carousel/img-3.png");
        }
        .swiper-slide-active #carouselWater {
            background-image: url("../../imgs/carousel/img-33.png");
        }
        #carouselTrees {
            background-image: url("../../imgs/carousel/img-2.png");
        }
        .swiper-slide-active #carouselTrees {
            background-image: url("../../imgs/carousel/img-22.png");
        }
        #carouselOrganic {
            background-image: url("../../imgs/carousel/img-1.png");
            padding-top: 80px;
            width: 240px;
        }
        .swiper-slide-active #carouselOrganic {
            width: 438px;
            background-image: url("../../imgs/carousel/img-11.png");
        }
        #carouselPlastic {
            width: 240px;
            background-image: url("../../imgs/carousel/img-4.png");
        }
        .swiper-slide-active #carouselPlastic {
            width: 438px;
            background-image: url("../../imgs/carousel/img-44.png");

        } 
        #carouselEnergy {
            background-image: url("../../imgs/carousel/img-5.png");
        }
        .swiper-slide-active #carouselEnergy {
            background-image: url("../../imgs/carousel/img-55.png");
        }
    }
    #swiperNav {
        text-align: center;
        margin-top: 32px;
        #slidesNum {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            width: 43px;
            span {
                opacity: 0.2;
            }
        }
        #swiperPrev, #swiperNext {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            cursor: pointer;
            margin: 0 40px;
        }
    }
}

@media screen and (max-width: 1300px) {
    #carouselSection .carousel .swiper-slide-active {
        width: 35vw !important;
    }
}

@media screen and (max-width: 900px) {
    #carouselSection .carousel .swiper-slide-active {
        width: 70vw !important;
    }
    #carouselSection .carousel .swiper-wrapper {
        right: 17vw;
    }
}
@media screen and (max-width:500px) {
    #carouselSection .carousel .swiper-slide-active {
        width: 98vw !important;
        padding-left: 0;
        .carouselSlideInner {
            width: 98vw;
        }
    }
    #carouselSection .carousel .swiper-slide-active #carouselOrganic,
    #carouselSection .carousel .swiper-slide-active #carouselPlastic {
        width: 390px;
    }
    #carouselSection .carousel .swiper-slide-prev {
        margin-right: 14px !important;
    }
    #carouselSection .carousel .swiper-wrapper {
        right: 0;
    }
}